# Suggestion for lines in this file pulled from
# http://stackoverflow.com/questions/3066698/what-is-the-standard-content-of-gitignore-for-an-iphone-xcode-project

build/
.DS_Store
**/*.pbxuser
*.mode2v3
*.mode1v3
**/*.perspectivev*

# ignore specific user settings in Xcode
xcuserdata
project.xcworkspace

*.bak
