/* Default button styling - this applies to all anchors with the .button class */



.button {
	font-size: 12px; 
	text-decoration: none!important; 
	font-family: Helvetica, Arial, sans serif;
	padding: 7px 10px; 
	border-radius: 2px; 
	-moz-border-radius: 3px; 
	box-shadow: inset 0px 0px 2px #fff;
	-o-box-shadow: inset 0px 0px 2px #fff;
	-webkit-box-shadow: inset 0px 0px 2px #fff;
	-moz-box-shadow: inset 0px 0px 2px #fff;
	margin-right:10px;
	margin-bottom:10px;
	display:inline-block;

	
}
.button:active {
	display:inline-block; 
	padding: 7px 10px;  
	box-shadow: inset 0px 0px 3px #999;
	-o-box-shadow: inset 0px 0px 3px #999;
	-webkit-box-shadow: inset 0px 0px 3px #999;
	-moz-box-shadow: inset 0px 0px 3px #999;
}

.button:visited {
	display:inline-block;
	padding: 7px 10px; 
	margin-right:10px;
	margin-bottom:10px; 
	box-shadow: inset 0px 0px 3px #999;
	-o-box-shadow: inset 0px 0px 3px #999;
	-webkit-box-shadow: inset 0px 0px 3px #999;
	-moz-box-shadow: inset 0px 0px 3px #999;
}




/* The styles for the blue button */
.blue {
	color: #333;
	border: 1px solid #060;
	background-image: -moz-linear-gradient(#55BE8C, #6ae5aa);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6ae5aa), to(#55BE8C));
	background-image: -webkit-linear-gradient(#55BE8C, #6ae5aa);
	background-image: -o-linear-gradient(#55BE8C, #6ae5aa);
	text-shadow: 1px 1px 1px #bfeafb;
	background-color: #6ae5aa;
}
.blue:hover {
	border: 1px solid #4690ad;
	background-image: -moz-linear-gradient(#6ae5aa, #55BE8C);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#55BE8C), to(#6ae5aa));
	background-image: -webkit-linear-gradient(#6ae5aa, #55BE8C);
	background-image: -o-linear-gradient(#6ae5aa, #55BE8C);
	background-color: #aae5f7;
}
.blue:active {border: 1px solid #3b778b;}

/* The styles for the green button */
.green {
	color: #5a742d;
	border: 1px solid #95b959;
	background-image: -moz-linear-gradient(#cae387, #a5cb5e);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5cb5e), to(#cae387));
	background-image: -webkit-linear-gradient(#cae387, #a5cb5e);
	background-image: -o-linear-gradient(#cae387, #a5cb5e);
	text-shadow: 1px 1px 1px #dff4bc;
	background-color: #a5cb5e;
}
.green:hover {
	border: 1px solid #687e30;
	background-image: -moz-linear-gradient(#a5cb5e, #cae387);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cae387), to(#a5cb5e));
	background-image: -webkit-linear-gradient(#a5cb5e, #cae387);
	background-image: -o-linear-gradient(#a5cb5e, #cae387);
	background-color: #cae387;
}
.green:active {border: 1px solid #506320; width:auto; height:auto;}

/* The styles for the black button */
.black {
	color: #fff;
	border: 1px solid #4d4d4d;
	background-image: -moz-linear-gradient(#656565, #454545);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#454545), to(#656565));
	background-image: -webkit-linear-gradient(#656565, #454545);
	background-image: -o-linear-gradient(#656565, #454545);
	text-shadow: 1px 1px 1px #6d6d6d;
	background-color: #454545;
}
.black:hover {
	border: 1px solid #363636;
	background-image: -moz-linear-gradient(#454545, #656565);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#656565), to(#454545));
	background-image: -webkit-linear-gradient(#454545, #656565);
	background-image: -o-linear-gradient(#454545, #656565);
	background-color: #656565;
}
.black:active {border: 1px solid #000;}

