    li {
      list-style: none;
    }

    li a {
      text-decoration: none;
      text-align: left;
      color: #000;
      margin: 8px;
      margin-bottom: 0px;
      width: 142px;
      height: 140px;
      background: #55be8c;
      display: block;
      float: left;
    }

    *[draggable=true] {
      -moz-user-select:none;
      -khtml-user-drag: element;
      cursor: move;
    }

    *:-khtml-drag {
      background-color: rgba(238,238,238, 0.5);
    }

    li a:hover:after {
      content: ' (drag me)';
    }

    li.over {
      border-color: #333;
      background: #ccc;
    }

    
    .tileContainer{
     
    }
	
	#r0 {
		width:1300px;
	}
	#r1 {
		width:1300px;
	}
	#r2 {
		width:1300px;
	}